body {
  font-family: $body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

.h1 {
  font-size: clamp(2.5rem, 6vw, 6rem);
  line-height: 0.73em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 3.5em;
  }
}

.h2-alt {
  line-height: 0.73em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 2.1rem;

  @media (max-width: 767px) {
    font-size: 1.5rem;
  }
}

.h2-large {
  font-size: 1.8rem;

  @media (min-width: 1024px) {
    font-size: 3rem;
  }
}

.h3 {
  font-size: 1.4rem;
  @media (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

.h4 {
  font-size: 1.4rem;
  @media (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

.h5 {
  font-size: 1.2rem;
  @media (min-width: 1024px) {
    font-size: 1.2rem;
  }
}


.paragraph {
  font-size: 1.1rem;
  line-height: 1.6em;

  *+p {
    margin-top: 1.5rem;
  }

  h3 {
    @extend .h3;
    @extend .mb-20;
    font-weight: 500;
  }

  ul {
    margin-top: 1.5rem;
    list-style-type: disc;
    padding-left: 40px;
    li {
      +li {
        margin-top: 1rem;
      }
    }
  }

}

.paragraph-small {
  font-size: .9rem;
  line-height: 1.6em;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.bold {
  font-weight: 700;
}

a,
button,
input,
textarea,
select {
  &:focus {
    outline-color: #58aeff;
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
  }
}